<% layout('../layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login.css">

    <div class="container d-flex justify-content-center allign-items-center mt-5 login-box">
        <div class="row flex-fill">
            
                <div class="card shadow col-md-6 offset-md-3 col-xl-4 offset-xl-4 rounded-3">
                    
                        <h1 class="card-title text-center fs-1">Login</h1>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="useranme" name="username" autofocus
                                    required>
                               
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                              
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success login-btn">login</button>
                                <a href="/register">New User?</a>                        
                            </div>

                        </form>                  
            </div>
        </div>
    </div>