#cluster-map {
    width: 100%;
    height: 500px;
}



#map {
    width: 100%;
    height: 300px;
}

body{
    background-color: gray;
}


.background-img {
    background-image: url("https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHw0ODQzNTF8fHx8fHx8MTcxMTEzOTQxMA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
}

#login{
    color:#00C6FF ;
}

#register{

}
